<form id='start-poll' method='get' action='/'>
  <input type="text" id="slug" name="slug" value='<%= @poll.slug %>'></input>
  <input type="submit" value="Start Poll"/>
</form>
<br/>
<button id="slug-check">Check availability</button>
<p>Slug is available: <span id="slug-is-available">true</span></p>
<p>Slug is valid: <span id="slug-is-valid">true</span></p>
<script>
$(function() {
  Askr.LandingPage.Init();
});
</script>
