#contentMain {
  width: 80%;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding-bottom: 5px;
}

#addOptionBtn {
  width: 100%;
}

#question_error_message{
  display: none;
}

#option_error_message {
  display: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}