html {
  position: relative;
  min-height: 100%;
}

body {
  color: #FFFFFF!important;
  background: #000!important;
}

.container {
  max-width: 900px;
}

.logo {
  float: left;
  margin: 1.5em 1em 2em 1em;
}

.row > .center {
  margin: 0 auto;
  float: none;
}

.cover {
  padding: 2em;

  background-color:rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.form-control-feedback {
  color: #000000;
}

#landing {
  text-align: center;

  h2 {
    margin: 0 0 0.3em 0;
  }

  p {
    margin-bottom: 2em;
  }

  .btn {
    margin-top: 2em;
  }
}

#vote {
  margin-bottom: 4em;
  text-align: center;

  input[type="radio"] {
    display:none!important;
  }

  label {
    width: 100%;
  }

  ul {
    margin: 2em 0 2em 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0.9em 0 0.9em 0;

    border-radius: 5px;
    border: 1px solid #FFFFFF;
    padding: 20px;
    font-size: 1.4em;
    font-weight: bold;

    img {
      float: left;
      width: 20px;
      margin-right: 20px;
    }
  }

  li.selected {
    background: #FFFFFF;
    color: #000;
  }

  .sortable-chosen {
    background: #000000;
  }

  .vote {
    margin: 2em 0 2em 0;
  }

  .view-results {
    margin: 2em 0 0 0;

    a {
      font-size: 1.1em;
      font-weight: bold;
    }
  }


}

#new {
  h2 {
    text-align: center;
    margin: 0 0 0.3em 0;
  }
}

#results {
  h1 {
    margin: 0 0 2em 0;
  }
}


ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding-bottom: 5px;
}

#addOptionBtn {
  width: 100%;
}

#question_error_message{
  display: none;
}

#option_error_message {
  display: none;
}

.mtl {
  margin-top: 2em;
}

.tx-center {
  text-align: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  padding: 0.4em;
  color: #FFFFFF;
  background: #000000;

  font-size: 0.8em;

  p {
    padding: 0;
    margin: 0;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
